<!-- {%- assign lang_pages = site.pages | where: "language_reference", page.language_reference -%} -->
{%- if site.supported_languages.size > 0 -%}
  <span class="lang-divider"></span>

  <div class="langs">
    {%- for language in site.supported_languages -%}
      {%- assign lang_page = site.pages | where: "language", language | where: "language_reference", page.language_reference | first -%}
      {%- if lang_page -%}
        {%- if lang_page.language == page.language -%}
          <span class="lang-link lang-link-selected">{{ language }}</span>
        {%- else -%}
          <a class="lang-link" href="{{ lang_page.url | relative_url }}">{{ language }}</a>
        {%- endif -%}
      {%- else -%}
        <a class="lang-link" href="/{{ language }}/untranslated.html">{{ language }}</a>
      {%- endif -%}
    {%- endfor -%}
  </div>
{%- endif -%}
